<header class="back-plate yield-container">
  <%= link_to 'Take My Car', root_path, class: "l-bold-title" %>

  <ul>
    <li class="s-bold-title"><%= link_to 'Cars', cars_path %></li>
    <li class="s-bold-title"><%= link_to 'Rent my Car', new_car_path %></li>
    <li class="s-bold-title"><%= link_to 'My Bookings', root_path %></li>
  </ul>

  <% if current_user %>
    <div class="login-register-container">
      <%= link_to 'Logout', destroy_user_session_path, class: "secondary-cta", data: { turbo_method: :delete } %>
    </div>
  <% else %>
    <div class="login-register-container">
        <%= link_to 'Login', new_user_session_path, class: "secondary-cta" %>
        <%= link_to 'Register', new_user_registration_path, class: "main-cta" %>
    </div>
  <% end %>
</header>