<div class="index-cars-container">
<h2 class="m-bold-title">Our cars</h2>
    <div class="index-cars-cards-container">
        <% @cars.each do |car| %>
            <div class="car-card back-plate">
                <h3 class="s-bold-title"><%= car.model %></h3>
                <div class="car-card-details">
                    <p><%= car.brand %></p>
                    <p><%= car.year_of_production %></p>
                    <p><b>$<%= car.price_per_day %></b> /day</p>
                </div>
                <%# <%= cl_image_tag car.photo.key %>
                <%= cl_image_tag car.photo.key, width: 245 %>
                <%= link_to 'See this car', car_path(car), class: 'secondary-cta m-title' %>
            </div>
        <% end %>
    </div>
</div>