<div class="show-car-container">
    <h2 class="m-bold-title"><%= @car.model.capitalize %></h2>
    <div class="show-car-card back-plate">
        <img src="https://images.unsplash.com/photo-1549317661-bd32c8ce0db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=550&q=80">
        <div class="show-car-card-details">
            <div class="show-car-card-infos">
                <h3 class="s-title"><%= "#{@car.model.capitalize} - #{@car.brand.upcase}" %></h3>
                <p class="show-card-year"><%= @car.year_of_production %></p>
                <p class="show-card-address"><%= @car.address %></p>
                <p class="show-card-price-per-day"><b>$<%= @car.price_per_day %></b> /day</p>
            </div>
            <div class="show-card-book-section">
                <%= simple_form_for(@booking, url: car_bookings_path(@car)) do |f| %>
                    <p class="fsize4" id="from-label"></p>
                    <p class="fsize4" id="to-label"></p>
                    <p class="fsize4" id="recap-label"></p>
                    <input type="string" placeholder="Select your dates" data-controller="flatpickr" data-flatpickr-array-value=<%= @unavailable_dates %> data-flatpickr-price-per-day-value=<%= @car.price_per_day %>>
                    <%= f.input :starts_at, as: :hidden, input_html: { id: 'starts_at' } %>
                    <%= f.input :ends_at, as: :hidden, input_html: { id: 'ends_at' } %>
                    <%= f.submit 'Book now', class: 'main-cta m-bold-title' %>
                <% end %>
            </div>
        </div>
    </div>
</div>